body { background: #affba0; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 59px; display: flex; }
.block-email-0 { color: #724ffa; font-size: 21px; margin-bottom: 5px; }
.block-config-1 { color: #577333; font-size: 15px; margin-bottom: 5px; }
.block-user-2 { color: #69638; font-size: 12px; margin-bottom: 5px; }
.block-uploader-3 { color: #c36f97; font-size: 13px; margin-bottom: 5px; }
.block-product-4 { color: #62feba; font-size: 14px; margin-bottom: 5px; }
.block-email-5 { color: #bf6343; font-size: 21px; margin-bottom: 5px; }
.block-invoice-6 { color: #ecb5a9; font-size: 21px; margin-bottom: 5px; }
.block-cart-7 { color: #3aa729; font-size: 19px; margin-bottom: 5px; }
.block-config-8 { color: #bdd978; font-size: 20px; margin-bottom: 5px; }
.block-auth-9 { color: #e89e91; font-size: 17px; margin-bottom: 5px; }
.block-router-10 { color: #e5ce6d; font-size: 19px; margin-bottom: 5px; }
.block-user-11 { color: #eba355; font-size: 14px; margin-bottom: 5px; }